<h2 class="text-center">
  Créer un compte
</h2>
<form (ngSubmit)="register(loginForm)" #loginForm="ngForm">
  <div class="alerte text-center" [hidden]="!onError">
    <p>{{message}}</p>
  </div>
  <input type="text" class="form-control" id="mail" placeholder="Votre email" [(ngModel)]="loginForm.mail" name="mail" required>
  <input type="password" class="form-control" id="mdp" placeholder="Votre mot de passe" [(ngModel)]="loginForm.mdp" name="mdp" required>
  <input type="password" class="form-control" id="mdp" placeholder="Confirmez votre mot de passe" [(ngModel)]="loginForm.confirm" name="confirm" required>
  <button type="submit" class="btn" [ngClass]="{'invalid': !loginForm.form.valid || loginForm.confirm !== loginForm.mdp}" [disabled]="!loginForm.form.valid || loginForm.confirm !== loginForm.mdp">LOGIN</button>
</form>
