<div id="network">
  <div class="row justify-content-around" *ngIf="!authService.isLoggedIn; else elseBlock">
    <div class="col-4 credentials">
      <app-network-login></app-network-login>
    </div>
    <div class="col-1 align-self-center">
      <p class ="text-center font-weight-bold text-uppercase">ou</p>
    </div>
    <div class="col-4 credentials">
      <app-network-register></app-network-register>
    </div>
  </div>
  <ng-template #elseBlock>
    <div class="col-xs-12">
      <p>
        Utilisateur loggé, accès au reste du site
      </p>
    </div>
    <button type="button" (click)="logout()">LOGOUT</button>
  </ng-template>
</div>
