<div id="network">
  <div class="row justify-content-around">
    <div class="col-4 credentials">
      <!-- <app-network-login></app-login> -->
    </div>
    <div class="col-1 align-self-center">
      <p class ="text-center font-weight-bold text-uppercase">ou</p>
    </div>
    <div class="col-4 credentials">
      <!-- <app-network-register></app-register> -->
    </div>
  </div>
  <div class="col-xs-12">
    <p>
      Utilisateur loggé, accès au reste du site
    </p>
  </div>
  <button type="button" (click)="logout()">LOGOUT</button>
</div>
