@import "../../../assets/sass/variables.sass"

#not-found
  height: 750px
  h2, p
    text-align: center
    color: $red
  h2
    text-transform: uppercase
  p
    font-size: 25px

  #tardisContent
    position: relative
    width: 1100px
    height: 500px
    background-image: url('../../../assets/img/404/background.jpg')
    background-repeat: no-repeat
    background-size: cover
    overflow: hidden

    #tardis
      position: absolute
      top: 250px
      left: -99px
      width: 99px
      height: 128px
