@import "../../../assets/sass/variables.sass"

#not-found
  height: 750px
  h2, p
    text-align: center
  h2
    color: $red
    text-transform: uppercase
  p
    font-size: 25px
    color: $red
  #tardis
    position: absolute
