<article>
  <div class="row">
    <h2>Compétences</h2>
    <ul id="skills" class="col-12">
      <li *ngFor="let item of listImgSkills">
        <img src="{{item.src}}" alt="{{item.alt}}" />
    </ul>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="row">
        <h2>Parcours professionnel</h2>
        <ul>
          <li (click)="selectBlocked('abbealBlock')" (mouseenter) = "show('abbealBlock')"
            [ngClass]="{'bold': selectedItem === 'abbealBlock'}">
              Juin 2017 à ce jour: Développeur FullStack - Abbeal, Paris
          </li>
          <li (click)="selectBlocked('umanlifeBlock')" (mouseenter) = "show('umanlifeBlock')"
            [ngClass]="{'bold': selectedItem === 'umanlifeBlock'}">
              Janvier 2017 à Juin 2017: Développeur FullStack – Umanlife, Paris
          </li>
          <li (click)="selectBlocked('nilobstatBlock')" (mouseenter) = "show('nilobstatBlock')"
            [ngClass]="{'bold': selectedItem === 'nilobstatBlock'}">
              2016 à décembre 2017: Développeur FullStack – NilObstat, Amiens
          </li>
          <li>
            2009 à 2016: Conseiller clientèle - BNP Paribas, Saint Germain en Laye
          </li>
          <li>
            2007 à 2008: Accueil - Crédit Mutuel, Paris Montparnasse
          </li>
        </ul>
      </div>
      <div class="row">
        <h2>Formation</h2>
        <ul>
          <li (click)="selectBlocked('ifocopBlock')" (mouseenter)="show('ifocopBlock')"
            [ngClass]="{'bold': selectedItem === 'ifocopBlock'}">
            2016: IFOCOP, Développeur-Intégrateur Web FullStack JavaScript
          </li>
          <li (click)="selectBlocked('openclassroomsBlock')" (mouseenter) = "show('openclassroomsBlock')"
            [ngClass]="{'bold': selectedItem === 'openclassroomsBlock'}">
            2015: Openclassrooms, Certificats Html et Css, Git/GitHub, Php-MySql, Symfony2
          </li>
          <li>
            2006: Lycée St Denis, BTS Banque, option marché des particulier
          </li>
          <li>
            2003: Lycée Madeleine Michelis, Baccalauréat Littéraire, spécialisation Allemand
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <h2>Tâches accomplies</h2>
      <div class ="text-justify" [hidden]="selectedItem !== 'abbealBlock'">
        <p>ABBEAL
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos amet nobis beatae, architecto ipsa quia! A necessitatibus, laborum modi ad recusandae aperiam commodi totam, facilis optio, magni dolor reprehenderit aspernatur!
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis temporibus reprehenderit consectetur, eveniet quos perferendis veniam provident aliquam, quas voluptatem, explicabo, distinctio ea ducimus ut numquam magni saepe eos exercitationem!
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa sit, eaque eius vitae impedit numquam asperiores. Quas impedit dignissimos, officiis temporibus amet tempora facere odit rerum deserunt, fuga enim iure.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa quae ut eum fugiat vitae, voluptatibus officia sint mollitia nesciunt minus suscipit nostrum eius incidunt assumenda excepturi repellat neque vel reprehenderit.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, quidem nulla deleniti unde incidunt officia sint, sit? Provident debitis, molestiae in facere officiis aspernatur rem quia vero dolore tempore blanditiis.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus alias laboriosam obcaecati perferendis ad exercitationem recusandae ipsum iusto consectetur fugiat voluptate, adipisci, velit non enim harum! Sapiente ex minus soluta!
        </p>
      </div>
      <div [hidden]="selectedItem !== 'umanlifeBlock'">
        <p>UMANLIFE
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa sit, eaque eius vitae impedit numquam asperiores. Quas impedit dignissimos, officiis temporibus amet tempora facere odit rerum deserunt, fuga enim iure.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa quae ut eum fugiat vitae, voluptatibus officia sint mollitia nesciunt minus suscipit nostrum eius incidunt assumenda excepturi repellat neque vel reprehenderit.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, quidem nulla deleniti unde incidunt officia sint, sit? Provident debitis, molestiae in facere officiis aspernatur rem quia vero dolore tempore blanditiis.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus alias laboriosam obcaecati perferendis ad exercitationem recusandae ipsum iusto consectetur fugiat voluptate, adipisci, velit non enim harum! Sapiente ex minus soluta!
        </p>
      </div>
      <div [hidden]="selectedItem !== 'nilobstatBlock'">
        <p>NILOBSTAT
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa sit, eaque eius vitae impedit numquam asperiores. Quas impedit dignissimos, officiis temporibus amet tempora facere odit rerum deserunt, fuga enim iure.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa quae ut eum fugiat vitae, voluptatibus officia sint mollitia nesciunt minus suscipit nostrum eius incidunt assumenda excepturi repellat neque vel reprehenderit.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, quidem nulla deleniti unde incidunt officia sint, sit? Provident debitis, molestiae in facere officiis aspernatur rem quia vero dolore tempore blanditiis.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus alias laboriosam obcaecati perferendis ad exercitationem recusandae ipsum iusto consectetur fugiat voluptate, adipisci, velit non enim harum! Sapiente ex minus soluta!
        </p>
      </div>
      <div [hidden]="selectedItem !== 'ifocopBlock'">
        <p>IFOCOP
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa sit, eaque eius vitae impedit numquam asperiores. Quas impedit dignissimos, officiis temporibus amet tempora facere odit rerum deserunt, fuga enim iure.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa quae ut eum fugiat vitae, voluptatibus officia sint mollitia nesciunt minus suscipit nostrum eius incidunt assumenda excepturi repellat neque vel reprehenderit.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, quidem nulla deleniti unde incidunt officia sint, sit? Provident debitis, molestiae in facere officiis aspernatur rem quia vero dolore tempore blanditiis.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus alias laboriosam obcaecati perferendis ad exercitationem recusandae ipsum iusto consectetur fugiat voluptate, adipisci, velit non enim harum! Sapiente ex minus soluta!
        </p>
      </div>
      <div [hidden]="selectedItem !==  'openclassroomsBlock'">
        <p>OPENCLASSROOMS
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa sit, eaque eius vitae impedit numquam asperiores. Quas impedit dignissimos, officiis temporibus amet tempora facere odit rerum deserunt, fuga enim iure.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa quae ut eum fugiat vitae, voluptatibus officia sint mollitia nesciunt minus suscipit nostrum eius incidunt assumenda excepturi repellat neque vel reprehenderit.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, quidem nulla deleniti unde incidunt officia sint, sit? Provident debitis, molestiae in facere officiis aspernatur rem quia vero dolore tempore blanditiis.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus alias laboriosam obcaecati perferendis ad exercitationem recusandae ipsum iusto consectetur fugiat voluptate, adipisci, velit non enim harum! Sapiente ex minus soluta!
        </p>
      </div>
    </div>
  </div>
</article>
