$imgSize: 110px
#skills
  text-align: center
  li
    width: $imgSize
    height: $imgSize
    padding: 10px
    display: inline-block
    img
      width: 100%
      vertical-align: center
/deep/ ul
  padding: 0
p
  text-indent: 5%
/deep/ .bold:hover
  font-weight: bold
